<div class="d-flex justify-content-center">
    <div class="text-center mt-5 pt-5">
      <img
        src="images/firebase.png"
        width="250"
        class="mb-3"
        alt="Firebase Image"
      />
      <h1>Welcome To Our App</h1>
      <P>Please enter email or username ro reset password</P>
  
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Email / User Name</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
  
        <!-- PROGRESS SPINNER -->
        <div class="d-flex align-items-center" *ngIf="isSubmissionInProgress">
          <mat-spinner [diameter]="22"> </mat-spinner>
          Signing-in...
        </div>
  
        <!-- ERROR MESSAGE -->
        <div class="alert alert-danger p-2" *ngIf="errorMessage">
          <mat-icon>!</mat-icon>
          {{errorMessage}}
        </div>
  
        <!-- PASSWORD RESET LINK SENT MESSAGE -->
        <div class="alert alert-success p-2" *ngIf="isSubmissionInProgress">
          The reset link is sent to your email address.Please use the link to reset password.
        </div>
        <button type="submit" mat-raised-button class="d-block mb-1 auth-button">
          Reset Password
        </button>
      </form>
  
      <p>Sign In instead</p>
  
      <button
        mat-raised-button
        [routerLink]="['/auth/sign-in']"
        color="primary"
        class="d-block auth-button"
      >
        Sign In
      </button>
    </div>
  </div>
  